@theme "/dev/null"

* {
    background-color:   #1E1E2E;
    background-alt:     #313244;
    text-color:         #CDD6F4;
    primary:            #8aadf4;
    secondary:          #89DCEB;
    urgent:             #F38BA8;
    font:               "ComicShannsMono Nerd Font Mono 12";
}

window {
    width:              340px;
    border-radius:      8px;
    padding:            16px;
    background-color:   @background-color;
    location:           center;
    x-offset:           0;
    y-offset:           0;
    border:             1px;
    border-color:       @primary;
}

prompt {
    enabled:            true;
    padding:            10px 12px;
    background-color:   @background-alt;
    text-color:         @primary;
    border-radius:      6px;
    font:               inherit;
}

entry {
    background-color:   @background-alt;
    text-color:         @text-color;
    placeholder-color:  @text-color;
    expand:             true;
    padding:            10px 12px;
    border-radius:      6px;
    border:             1px;
    border-color:       @primary;
}

mainbox {
    children:           [ message, inputbar ];
    background-color:   @background-color;
    spacing:            12px;
    padding:            0px;
}

message {
    padding:            8px;
    background-color:   transparent;
    text-color:         @secondary;
    margin:             0px 0px 8px 0px;
}

textbox {
    background-color:   transparent;
    text-color:         inherit;
    vertical-align:     0.5;
    horizontal-align:   0.0;
}

inputbar {
    children:           [ prompt, entry ];
    background-color:   transparent;
    spacing:            8px;
}
